* {
  font-family: 'Noto Sans';
  margin: 0;
  padding: 0;
}

html{
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body{
  background-image: url(https://keedan.com/track/files/2023/09/LINE_ALBUM_20230917OOR-TAIPEI-DAY2_230917_108.jpg); 
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
  background-repeat: repeat-y;
  background-color: rgba(0, 0, 0, 0.7);
  background-blend-mode: multiply;
  overflow-x: hidden; 
  width: 100%;  
}

.container {
  width: 100%; 
  margin: 0 auto; 
}

/*字體設定*/
.H1{
   color: #F9F9F9;
   font-size: 50px;
   font-style: normal;
   font-weight: 900;

}
.H2{
   color: #F9F9F9;
   font-size: 35px;
   font-weight: 900;
   line-height: 24px;
}
.T1_B{
  font-size: 20px;
  margin: 0px;
  font-weight: 800;
}
.T1{
   color: #F9F9F9;
   font-size: 20px;
   margin: 0px;
   font-weight: 800;
}

.T2{
   color: #FFF;
   font-size:12px;
   line-height: 18px;
   margin: 0px;
   padding: 21px;
}

.RedWord{     /*紅色分類方塊*/
  color: #E81D1D;
}

/*圖片大小設定*/
.ROCK_pic{
  height: 60px;
  width: 60px;
  margin-top: 65px;
  margin-left: 5px;
}
.album_pic{
  height: 540px;
  width: 540px;
  box-shadow: -10px 10px 10px 5px #e81d1d7c;
}
.tour_pic{
  height: 500px;
  width: 1000px;
  box-shadow: -10px 10px 10px 5px #e81d1d7c;
}
.MV_pic{
  height: 200px;
  width: 355px;
}

/*主體*/
.header {
  background-color: #F9F9F9;
  height: 80px;
  width: 100%;
  line-height:85px;
  flex-wrap: wrap;
}

.logo{
  width: 100px;
  height: 43px;
  position: absolute;
  top: 20px;
  left: 20px;
}

nav {
  text-align: end;
  margin-right: 20px;
}
 
.li {
  color: #000000;
  display: inline-block;
  list-style: none;
  margin: 0 20px; /*間距*/
}
 
.li:hover {
  color: #E81D1D;
  opacity: 1;
  transform: scale(1.1);
  opacity: 0.9;
  transition: 0.3s;
}

.naa {
  color:#000;
  text-decoration: none;
  font-size: 25px;
  font-style: normal;
  font-weight: 900;
  line-height: normal;
  opacity: 0.9;
  transition: 0.3s;
}

.naa:hover {
  color: #E81D1D;
  text-decoration: none;
  font-size: 25px;
  font-style: normal;
  font-weight: 900;
  line-height: normal;
  opacity: 0.9;
  transition: 0.3s;
}

.naa:visited,.naa:link,.naa:active {
  text-decoration: none;
}

.LOGIN_btn{
  background-color: #E81D1D;
  height: 50px;
  width: 100px;
  color: #F9F9F9;
  border-radius: 10px;
  border: 0;
  margin-left: 10px;
}

.LOGIN_btn:hover{
  background-color: white; 
  color: red;
  border: 3px solid red;
  opacity: 1;
  transform: scale(1.1);
  opacity: 0.9;
  transition: 0.3s;
}


/*main*/

.main_block{
  display: flex;
  align-items: center;
}

.main_background{
  background-size: cover;
  background-attachment: fixed;
  background-image:url(https://pbs.twimg.com/media/F99FuHybIAA4Kmd?format=jpg&name=medium);
  background-position: 50% 50%;
  background-color: rgba(0,0,0, 0.7);
  background-blend-mode: multiply;

  width: 70%;
  height: 75vh;
  padding-left: 140px;
  border-radius: 30px;
  display: flex;
  align-items: center;
  margin: 60px 150px;
}

.main_words{
  border-left: 7px solid red;
  padding-left: 30px;
  display: flex;
  flex-direction: row;
}

/*NEWS*/

.title_place{
  display: flex;
  justify-content: center; 
  margin-top: 120px;
  margin-bottom: 60px;
}

.title{
  color: #E81D1D;
  border: 5px solid #E81D1D ;
  height: 60px;
  width: 200px;
  display: flex;
  justify-content: center; 
  align-items: center;
  margin-top: 40px;
}

/*part1*/
.part1{
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  margin-bottom: 100px;
  margin-left: 50px;
  margin-right: 50px;
}

.p1_RM{
  position: absolute;
  bottom: 0; 
  right: 0;
  margin-right: 50px;
  margin-bottom: 30px;
}

.p1_RM:hover {
  color: #E81D1D;
  opacity: 1;
  transform: scale(1.1);
  opacity: 0.9;
  transition: 0.3s;
}

.album_block{
  color: #F9F9F9;
  border: 5px solid #F9F9F9;
  width: 420px;
  height: 290px;
  padding: 30px 50px;
  position: relative; 
  margin-top: 180px;
}

/*part2*/
.p2_box{
  border: 0px  ;
  display: flex;
  flex-direction: column; 
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100vW;
}
.p2_word{
  display: flex;
  justify-content: center; 
  margin-top: 120px;
  margin-bottom: 60px;
}
.p2_RM{
  margin-top: 20px;
  margin-left: 850px;
}

.p2_RM:hover {
  color: #E81D1D;
  opacity: 1;
  transform: scale(1.1);
  opacity: 0.9;
  transition: 0.3s;
}
/*part3*/
.title_MV{
  color: #E81D1D;
  border: 5px solid #E81D1D ;
  height: 60px;
  width: 300px;
  display: flex;
  justify-content: center; 
  align-items: center;
  margin-top: 50px;
}

.MV_box{
  border: 5px solid #F9F9F9 ;
  padding: 20px 30px ;
  height: 280px;
  width: 370px;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative; 
}

.songname {
  margin-top: 10px;
}

.watchnow{
  position: absolute;
  bottom: 10px; 
  right: 24px;
}

.watchnow:hover {
  color: #E81D1D;
  opacity: 1;
  transform: scale(1.1);
  opacity: 0.9;
  transition: 0.3s;
}

.MV_blocks{
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  margin-bottom: 50px;
}

.morevedio{
  background-color: #E81D1D;
  height: 50px;
  width: 200px;
  color: #F9F9F9;
  border-radius: 10px;
  border: 0;
  margin-left: 10px;
}

.morevedio:hover{
  background-color: white; 
  color: red;
  border: 3px solid red;
  opacity: 1;
  transform: scale(1.1);
  opacity: 0.9;
  transition: 0.3s;
}

.morevedio_place{
  display: flex;
  justify-content: center; 
  margin-top: 50px;
}

/*footer*/

.icon{
  width: 30px;
  height: 30px;
}

footer {
  margin-top: 200px;
  height: 120px;
  flex-shrink: 0;
  background: rgba(232, 29, 29, 0.50);
  color: #FFF;
  position: relative; 
}

.F_word{
  position: absolute;
  bottom: 0; 
  left: 40px;
}

.buttons_place{
  display: flex;
  flex-direction: row-reverse;
  padding-top: 40px;
  margin-right: 120px;
}

.img_btn{
  background:0;
  height: 50px;
  width: 30px;
  color: #F9F9F9;
  border: 0;
  margin-left: 10px;
}

.img_btn:hover {
  color: #E81D1D;
  opacity: 1;
  transform: scale(1.2);
  opacity: 0.9;
  transition: 0.3s;
}

.a{
  text-decoration: none; 
  color: inherit;
}
